fastapi
uvicorn
python-dotenv
uuid6
sqlalchemy
asyncpg
pycountry
python-jose[cryptography]
httpx
slowapi
requests
pydantic-settings
redis 
python-multipart
passlib[bcrypt]
# pytest-asyncio
# pytest-cov
# aiosqlite
